@media screen and (min-width:768px) and (max-width:992px){
   
    section#logim{
        width: 80vw;
    }
    section#logim > div#imagem{
        float:left;
        width: 30%;
        height: 100%;
    }
    section#logim > div#formulario{
        float: right;
        width: 65%;
    }
    div#formulario{
        margin-top: 70px;
    }

    
}
@media screen and (min-width:992px) {
    
    section#logim{
        width: 950px;
    }
    section#logim > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#logim > div#formulario{
        float: left;
        width: 45%;
    }
    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p{
        font-size: 1.2em;
    }
    div#formulario{
        margin-top: 50px;
    }

    
}